src/main/resources/wsdl/tracking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.envios-express.com/tracking"
                  targetNamespace="http://www.envios-express.com/tracking">

    <wsdl:types>
        <xsd:schema targetNamespace="http://www.envios-express.com/tracking">

            <xsd:complexType name="TrackingEvent">
                <xsd:sequence>
                    <xsd:element name="date" type="xsd:dateTime"/>
                    <xsd:element name="description" type="xsd:string"/>
                    <xsd:element name="location" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TrackingError">
                <xsd:sequence>
                    <xsd:element name="errorCode" type="xsd:int"/>
                    <xsd:element name="errorMessage" type="xsd:string"/>
                    <xsd:element name="invalidField" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="GetTrackingStatusRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="trackingNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetTrackingStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="currentLocation" type="xsd:string"/>
                        <xsd:element name="estimatedDeliveryDate" type="xsd:date" minOccurs="0"/>
                        <xsd:element name="history" type="tns:TrackingEvent" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="TrackingErrorFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="error" type="tns:TrackingError"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetTrackingStatusRequestMessage">
        <wsdl:part name="parameters" element="tns:GetTrackingStatusRequest"/>
    </wsdl:message>

    <wsdl:message name="GetTrackingStatusResponseMessage">
        <wsdl:part name="parameters" element="tns:GetTrackingStatusResponse"/>
    </wsdl:message>

    <wsdl:message name="TrackingErrorFaultMessage">
        <wsdl:part name="fault" element="tns:TrackingErrorFault"/>
    </wsdl:message>

    <wsdl:portType name="TrackingPort">
        <wsdl:operation name="GetTrackingStatus">
            <wsdl:input message="tns:GetTrackingStatusRequestMessage"/>
            <wsdl:output message="tns:GetTrackingStatusResponseMessage"/>
            <wsdl:fault name="TrackingFault" message="tns:TrackingErrorFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TrackingPortSoap11" type="tns:TrackingPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTrackingStatus">
            <soap:operation soapAction="http://www.envios-express.com/tracking/GetTrackingStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TrackingFault">
                <soap:fault name="TrackingFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="TrackingService">
        <wsdl:port name="TrackingPortSoap11" binding="tns:TrackingPortSoap11">
            <soap:address location="http://localhost:8080/ws/tracking"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>